/* CSS Resat Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CSS Resat End */


/* Body Start */

body {
    background-color: var(--baseShade1);
}


/* Body End */


/* Theme of Website Start */

:root {
    /* baseShades */
    --baseShade1: #1A1A1A;
    --baseShade2: #ffff00;
    --baseShade3: #BFBFBF;
    --baseShade4: #868686;
    /* textSizes */
    --headSize1: ;
    --headSize2: ;
    --textSize1: ;
    --textSize2: ;
}


/* Theme of Website End */


/* Utlity Classes Start */


/* Utlity Classes End */


/* Navigation Bar Start */


/* Navigation Bar End */


/* Header Start */


/* Header End */


/* About Start  */


/* About End  */


/* Hobbies Start */


/* Hobbies End */


/* Projects Start */


/* Projects End */


/* Social Start */


/* Social End */


/* Footer Start*/


/* Footer End*/


/* Copyright Start*/


/* Copyright End*/