/* CSS Resat */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Theme of Website Start */


/* Theme of Website End */


/* Utlity Classes Start */


/* Utlity Classes End */


/* Navigation Bar Start */


/* Navigation Bar End */


/* Header Start */


/* Header End */


/* About Start  */


/* About End  */


/* Hobbies Start */


/* Hobbies End */


/* Projects Start */


/* Projects End */


/* Social Start */


/* Social End */


/* Footer Start*/


/* Footer End*/


/* Copyright Start*/


/* Copyright End*/